@import "style.css";
@keyframes alerteRouge{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0)
    }
}
@keyframes alerteVerte{
    0%{
        transform: translateX(1000px);
    }100%{
        transform: translateX(0);
    }
}
%alerte-box{
    text-align: center;
    border: 3px solid blue;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1px;
    color: whitesmoke
}
%alerte-animation{
    transition: 2s ease-in-out;
    &:hover{
        transform: scale(1.5)
    }
}
.alerte-rouge{
    @extend %alerte-box;
    background-color: red;
    animation: alerteRouge 3s;
    @extend %alerte-animation
}
.alerte-verte{
    @extend %alerte-box;
    background-color: green;
    animation: alerteVerte 3s;
    @extend %alerte-animation
}
#app h1{
    text-align: center;
}